@media (max-width: 767px) {
  #header .main-navigation a { padding: 15px 12px !important; min-height: 54px; display: flex; align-items: center; }
  #header .sf-menu > li > a { font-size: 16px !important; }
}
