blockquote {padding: 0 27px 20px 10px;}
blockquote:after {right: 0;}
dt {float: right;clear: right;}
header {float: right;}
.main-header {float: right;}
#header {float: right;}
#header h1, #header h2 {float: right;}
#logo a {float: right;}
#logo img {float: right;}
.logo-wrap {float: right;margin: 12px 0 0 20px;}
.site-description {float: right;clear: right;}
#header .header-search {float: left;}
#header #searchform {float: left;}
#secondary-navigation a {text-align: right;}
.secondary-navigation {float: right;}
.navigation {float: left;}
.navigation ul li {float: right;}
.navigation ul ul a, .navigation ul ul a:link, .navigation ul ul a:visited {padding: 9px 20px 9px 45px;border-right: 0;border-left: 0;}
.navigation ul ul ul {right: 255px;}
.head-search {float: left;margin-left: 0;margin-right: 20px;}
.header-social-icon {float: left;}
.header-post {float: right;margin-right: 0;margin-left: 2.4%;}
.header-post-img {float: right;margin-right: 0;margin-left: 18px;}
.rtl #commentform .comment-form-cookies-consent input, .rtl .mtscontact_consent input {float: right;margin-left: 8px;}
.rtl #commentform .comment-form-cookies-consent label, .rtl .contact-form .mtscontact_consent label {float: right;}
input#author, input#email, input#url, .contact-form input, .contact-form textarea {margin-right: 0;}
#commentform .form-submit input#submit, .contactform #submit, .contact-form input[type="submit"] {float: right;}
#tab-group a .fa {padding-right: 0;padding-left: 4px;}
#tab-group li:first-child {float: right;border-right: 0;border-left: 1px solid #ddd;}
article ul {margin: 1.5em 1.9em 1.571em 0;}
article ol {margin: .5em 1.9em .571em 0;}
.post {float: right;}
.readMore {float: left;}
.ss-full-width #content_box {padding-left: 0;padding-right: 0;}
.wp-post-image {float: right;}
.featured-thumbnail, .recommended-post-img {float: right;}
.featured-post-wrap {float: right;}
.post-image {float: right;}
.latestPost {margin-right: 0;margin-left: 3%;}
.related-posts .latestPost {margin-left: 0;}
.archive .latestPost, .search .latestPost {margin-right: 0;margin-left: 4%;}
.archive .latestPost.last, .search .latestPost.last {margin-left: 0;}
.single-title {float: right;padding: 0 0 0 0;}
.post-info {float: right;}
.post-info > span {margin-left: 7px;margin-right: 0;float: right;line-height: 24px;}
.post-info span.theauthor {padding-left: 0;padding-right: 15px;}
.post-info > span.theauthor:before {left: inherit;right: 0;top: 8px;}
.thecategory {margin-right: 5px;}
#load-posts .fa {float: left;}
article header {float: right;}
.latestPost {float: right;}
.article .iconlist {margin-right: 0;}
#tabber .inside {padding: 0 0 15px 0;}
#tabber ul.tabs li {float: right;margin-right: 0;}
#tabber ul.tabs li a {float: right;padding: 2px 0 2px 0;}
#tabber ul.tabs li.tab-recent-posts a {border-right: 0;}
#tabber .inside li {padding: 15px 0 0 0;margin-right: 15px;margin-left: 15px;}
#tabber .tab-thumb {float: right;margin: 0px 0px 0px 12px;}
#tabber .inside .tabsSep {float: right;}
.widget_nav_menu .fa > a, .widget_nav_menu .fa > a {padding-right: 5px;}
table {text-align: right;}
table th, table td {text-align: right;}
#searchform {float: right;}
#search-image.sbutton, #searchsubmit {left: 0px;float: left;right: auto;}
#searchform .fa-search {left: 0px;}
#s {float: right;}
input::-webkit-input-speech-button {margin-left: 14px;margin-right: 4px;}
.read-more {margin: 0 10px 0 0;}
.bottomad {float: right;}
#sidebars .wp-post-image, #site-footer .wp-post-image, .widget .wp-post-image, .widget .wpt_thumb_small, .wpt_avatar, .widget .wp_review_tab_thumb_small {margin-left: 10px;margin-right: 0;float: right;}
.widget {float: right;}
.widget li {margin-right: 17px;}
.widget h3 {margin: 0px 0 15px 0;}
.advanced-recent-posts li, .popular-posts li, .category-posts li, .related-posts-widget li {margin-right: 0;}
.share-item {float: right;}
.share-item.shareit.top {float: right;}
.social-profile-icons ul li {float: right;}
.footer-widgets {float: right;}
.f-widget {float: right;margin-right: 0;margin-left: 8%;}
.copyrights {float: left;}
.top {float: left;}
.toplink .fa-chevron-up {left: 0;}
.toplink {padding-left: 27px;}
#move-to-top {left: 26px;right: auto;}
.related-left {float: right;}
.related-posts li {float: right;}
.related-posts .latestPost #featured-thumbnail {float: right;margin-left: 20px;margin-right: 0;}
.related-posts .last {margin-left: 0;}
.related-ads .widget-header {float: left;}
.tags {margin: 20px 0 0 0;float: right;}
.tags a {margin-right: 5px;}
.postauthor {margin: 20px 0 0px 0;float: right;}
.postauthor img {float: right;margin: 4px 20px 0 0;}
.postauthor h5, .author-social, .postauthor p {padding-left: 0;padding-right: 20px;}
.left {float: right;}
.right {float: left;}
.last {margin-left: 0;}
.tagcloud a {float: right;margin-left: 5px;margin-right: 0;}
.mts-subscribe input[type="text"] {float: right;}
#mts_subscribe_widget {border: 1px solid #f1f1f1 !important;}
.mts-subscribe input[type="submit"] {float: left;left: 0;right: auto;}
.ad-125 li {float: right;padding-right: 0;margin-right: 0;}
.ad-125 li:nth-child(2n+2) {float: left !important;}
#wp-calendar td {border-left: 1px solid #f1f4f6;}
#wp-calendar #prev {text-align: right;padding-right: 12px;}
.nocomments {float: right;}
#comments {float: right;}
#commentsAdd {float: right;}
#comments .avatar {float: right;margin-right: 0;margin-left: 20px;}
.comment time {padding-right: 10px;}
ul.children .commentImageLeft {border-right: 1px solid #c1bbb6;right: -70px;}
input#author, input#email, input#url {margin-left: 10px;}
#commentform input#submit, .contactform #submit {float: left;}
.contactform #submit {float: right;}
ol.commentlist {margin-right: 0;}
.commentlist li {padding-right: 0;}
.reply {float: right;margin-right: 0;margin-left: 12px;}
.ago {float: right;}
.reply a {float: right;}
.commentlist .children {margin-right: 10%;float: right;}
.avatar {float: right;}
#commentform p {float: right;}
#commentform p label {padding-right: 10px;}
.cancel-comment-reply a {float: left;}
.comment-notes .required {padding-right: 0;}
#cancel-comment-reply-link {float: left;}
#left-share, .left-comment {float: right;}
.sticky-ssicon .post-single-content {padding-left: 0;padding-right: 108px;}
.pagination {float: right;}
.pagination ul li {float: right;}
.currenttext, .pagination a:hover, .single .pagination a:hover .currenttext {margin: 0 0 0 5px;float: right;}
.pagination a, .pagination .current, .pagination a:hover, .single .pagination a:hover .current, #load-posts a:hover {margin: 0 0 0 5px;float: right;}
.pagination .nav-previous {float: right;}
.pagination .nav-next {float: left;}
.single .pagination a .currenttext, .single .pagination a:hover .currenttext {margin-left: 0;}
.contact-form.loading:after {right: 0;}
.ajax-search-results-container {right: 0;}
.ajax-search-results-container.loading:after {left: 0;right: 0;}
.ajax-search-results .wp-post-image {margin-left: 10px;margin-right: 0;}
.ajax-search-meta .results-count {float: right;}
.ajax-search-meta .results-link {float: left;}
.pace .pace-progress {right: 0;}
pre:before {left: 14px;}
.wpt_widget_content .inside li, .widget .wp_review_tab_widget_content .tab-content li {text-align: right !important;}
.widget .wpt_widget_content .tab_title a:before, .widget .wp_review_tab_widget_content .tab_title a:before {right: 16px;left: auto;}
.widget .wpt_widget_content ul.wpt-tabs li, .widget .wp_review_tab_widget_content ul.wp-review-tabs li {float: right;}
.widget .wpt_widget_content .tab_title.selected a, .widget .wp_review_tab_widget_content .tab_title.selected a {padding: 0 40px 0 20px;}
.widget .wpt_widget_content .tab_title a, .widget .wp_review_tab_widget_content .tab_title a {padding-left: 0;padding-right: 44px;}
.latestPost-review-wrapper {left: 10px;right: auto;}
.review-star {left: 15px;right: auto;}
.review-result-wrapper i {float: left;}
.review-star {left: 15px;right: auto;}
.review-result-wrapper i {float: left;}
.review-desc {float: right;}
.review-total-wrapper {float: left;margin-right: 0;margin-left: 15px;}
.user-total-wrapper {float: right;text-align: right;}
.user-total-wrapper span {float: right;}
span#mts-user-reviews-counter {float: none;}
.review-total-star.allowed-to-rate {float: left;}
.widget .wp-review-tab-pagination a.next {float: left;}
.widget .wp-review-tab-pagination a.prev {float: right;}
.toggle-menu .toggle-caret {left: inherit;right: 0;}
.f-widget .toggle-menu .toggle-caret, .sidebar .toggle-menu .toggle-caret {right: inherit;left: 0;}
.sponsers-images h4 {float: right;margin-right: 0;margin-left: 35px;}
.sponsers-images h4 i {float: left;margin-right: 15px;margin-left: 0;}
.sponsers-images h4 i:before {content: "ï„„";}
.sponsers-images .sponsor-image-link:last-child {padding: 40px 20px;padding-left: 0;}
@media screen and (max-width:960px) {.secondary-navigation {float: left;}
	#header .head-search .fa {right: -2px;}
	a#pull {padding-left: 0;}
	#navigation ul li a, #navigation ul ul a {padding-left: 25px !important;}}
@media screen and (max-width:720px) {.home .latestPost {margin-right: 0;margin-left: 4%;}
	.home .latestPost:nth-child(2n) {margin-left: 0 !important;}
	.latestPost.last {margin-right: 0 !important;margin-left: 4% !important;}
	.copyrights .footer-social a:last-child {margin-right: 8px;}}
@media screen and (max-width:550px) {.f-widget.f-widget-2 {margin-left: 0;}}